@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}
/* body {
  font-family: 'Nunito', sans-serif;
} */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.col {
  flex: none;
}
.github:hover {
  color: #fff;
}
.twitter {
  color: #1d9bf0;
}
.discord {
  color: #5865f2;
}
.star {
  color: #ffec91;
}
.home {
  color: #042e62;
}
.twitch {
  color: #9146ff;
}
.fontawesome:hover {
  color: #339af0;
}
.twitter2:hover {
  color: #1d9bf0;
}
.discord2:hover {
  color: #5865f2;
}
.valorant:hover {
  color: #ff4655;
}
.socialbtn:hover {
  transform: translate(0px, -3px);
  animation-name: headsup;
  animation-duration: 0.3s;
}
img {
  pointer-events: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #0a0f16;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e141d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e141d;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.rainbow-text:hover {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#get-in-touch{
  width:90%;
  height:100px;
  background-color: #15181d;
  display: flex;
  margin: 60px auto;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/bg-2.png);
  background-position: top right;
  background-size: 400px;
  background-repeat: no-repeat;
}
#get-in-touch span{
  color: #e4e4e4;
  font-size: 1.3rem;
  font-weight: 600;
}
#get-in-touch a{
  color: #ffffff;
  width:160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,#2788e2 20%,#3b4eb8);
}
